
@import "fonts.css";

html {
  font-size: 62.5%;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  box-sizing: border-box;
  min-width: 320px;
}

.work-page {
  width:100%;
  margin:0;  
}

/*header block start*/

.work-page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 3.5rem;
  padding-bottom: 8.6rem;
  background: url(../img/header-320.jpg);
  background-color: rgb(10, 14, 52);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 3.7rem;
  font-weight: bold;
}

.work-page-header {
  padding-right: 6.25vw;
  padding-left: 6.25vw;
}

.work-page-header__logo-icon {
  fill: #ffffff;
  display: block;
  width: 13rem;
  height: 3.5rem;
  margin: 0 auto;
}

.work-page-header__title,
.work-page-header__subtitle {
  font-size: 2.8rem;
}

.work-page-header__title {
  margin-top: 12.5rem;
  margin-bottom: 1.5rem;
}

.work-page-header__subtitle {
  margin-top: 0;
  margin-bottom: 8rem;
  margin-left: 4.5rem;
}

.work-page-header__btn {
  display: flex;
  width: 100%;
  padding: 0.1rem 7.5rem 0.8rem 8rem;
  font-size: 0.8rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  background-color: #5e42b0;
  border: none;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.work-page-header__btn:hover {
  cursor: pointer;
  background-color: #501be9;
  transition: none;
}

.work-page-header__btn + .work-page-header__btn {
  margin-top: 1.2rem;
}

.work-page-header__btn__icon {
  display: inline-block;
  width: 2.5rem;
  height: 2rem;
  margin-right: 0.8rem;
  margin-top: 0.2rem;
  fill: #ffffff;
}

.work-page-header__btn__store {
  font-weight: 600;
  display: block;
}

.work-page-header__btn__text {
  padding-top: 0.75rem;
}

/*header block end*/

/*athlets, players blocks start*/

.work-page-athlets__title,
.work-page-players__title {
  font-weight: 700;
  font-size: 5rem;
  color: #e7e7e7;
  text-transform: uppercase;
  margin: 0;
  padding-top: 1rem;
  padding-left: 2rem;
}

.work-page-athlets__img {
  padding-left: 7rem;
}

.athlets-box__num,
.players-box__num {
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 4px solid #5e42b0;
  display: inline-block;
  border-radius: 2px;
  margin-right: 0.5rem;
  margin-left: 2rem;
  vertical-align: text-bottom;
}

.athlets-box__title,
.players-box__title {
  color: #c1c1c1;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding-top: 0.3rem;
}

.athlets-box__text,
.players-box__text {
  font-size: 1.5rem;
  line-height: 1.9rem;
  letter-spacing: 0.08rem;
  text-align: left;
  padding: 0 2rem 9.7rem;
  margin-bottom: 0;
}

.athlets-box__item_3 .athlets-box__text,
.players-box__item_3 .players-box__text {
  color: #ffffff;
  padding-bottom: 5.2rem;
  margin-bottom: 0;
}

.athlets-box__item_1 {
  padding-top: 1.5rem;
}

.athlets-box__item_2 {
  background-color: #f6f4fa;
}

.athlets-box__item_2 .athlets-box__text {
  padding-bottom: 5.1rem;
}

.athlets-box__item_3 {
  background-color: #5e42b0;
  padding-top: 4.8rem;
  margin-bottom: 0;
}

.athlets-box__item_3 .athlets-box__num {
  border-bottom: 4px solid #ffffff;
}

.work-page-players__title_position {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.work-page-players__img {
  padding-left: 1rem;
}

.work-page-players__box {
  margin-top: 4rem;
}

.players-box__item_2 {
  background-color: #f5f6f7;
}

.players-box__item_2 .players-box__text {
  letter-spacing: 0.07rem;
  padding-bottom: 5.2rem;
}

.players-box__item_3 {
  background-color: #0a0e34;
  padding-top: 4.4rem;
}

.players-box__item_3 .players-box__num {
  color: #684fb3;
  border-bottom: 4px solid #ffffff;
  border-radius: 2px;
}

.players-box__item_3 .players-box__text {
  padding-bottom: 5.5rem;
}

/*athlets, players blocks end*/